<h1>Welcome to Hair Etc...</h1>

<h4>Create An Account so you can set up appointments online!</h4>
<br>
<%= link_to "Sign Up", "/signup" %>
<br><br>
<h4>Sign in to your account to see your appointments</h4>
<br>
<%= link_to "Sign In", "/signin" %>